.profile {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 46px;
}

@media screen and (max-width: 950px) {
    .profile {
     margin-left: 27px;
     margin-right: 27px;
    }
  }

  @media screen and (max-width: 730px) {
    .profile {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      padding-top: 43px;
      padding-bottom: 37px;
    }
  }
