.profile__subtitle {
  max-width: 336px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #f1f1f1;
  margin: 0;
  padding-bottom: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 730px) {
  .profile__subtitle {
    margin-left: 16px;
    max-width: 280px;
  }
}

@media screen and (max-width: 450px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 33px;
    max-width: 174px;
  }
}