.elements {
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-rows: 361px;
  row-gap: 20px;
  column-gap: 17px;
  justify-content: center;  
}

@media screen and (max-width: 950px) {
  .elements {
    margin: 0 19px;
  }
}

