.popup__close {
    background: transparent url(../../../images/popup-cross-big.svg) center no-repeat;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 438px;
    top: -40px;
}

.popup__close:hover {
    opacity: .6;
    cursor: pointer;
  }

  @media screen and (max-width: 550px) {
    .popup__close {
       background: url(../../../images/popup-cross-mini.svg);
       width: 20px;
       height: 20px;
       left: 260px;
       top: -36px;
    }
  }