.element__info {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  position: relative;
}